* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: roboto-condesed;
  src: url(./fonts/Roboto-BoldCondensed.ttf);
}
@font-face {
  font-family: caviar;
  src: url(./fonts/CaviarDreams_Italic.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(./fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(./fonts/Roboto-Light.ttf);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(./images/movie-background-collage\ blue.webp);
  /* background-color: rgb(81, 119, 168); */
  /* z-index: 1; */
}
.main-page {
  /* border: 2px solid red; */
  font-family: roboto-condesed;
  font-size: 3.5rem;
  color: yellow;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
  transition-duration: 1s;
}
.main-page:hover {
  transform: rotate(10deg);
  /* transition-duration:2s ; */
}
.nav-links {
  /* border: 3px solid red; */
  width: 80%;
  height: 3.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlink {
  color: white;
  font-family: roboto-condesed;
  text-decoration: none;
  letter-spacing: 0.1rem;
  margin: 0em 8em;
  padding: 0.5em;
  border-top-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}
.navlink:hover {
  background-color: rgba(218, 218, 23, 0.6);
  transform: scale(1.3);
}
.main {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  width: 70%;
  position: relative;
}
.text1 {
  width: 50%;
  color: yellowgreen;
  font-family: caviar;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 2em;
  line-height: 1;
}
.text1:hover {
  text-decoration: underline;
}
.text2 {
  color: rgb(163, 204, 13);
  font-family: caviar;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
}
.redi-link {
  color: rgb(159, 57, 255);
  font-family: roboto-light;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1em;
  text-decoration: none;
}
.redi-link:hover {
  transform: scale(1.3);
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 110vh;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .main-page {
    font-size: xx-large;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .text1 {
    width: 100%;
    padding: 1em;
    height: 90%;
    text-align: center;
    letter-spacing: 0.125rem;
  }
  .text1 {
    line-height: 2;
  letter-spacing: 0.2rem;

  }
}
